@model ProyectoFacturacion.FactFacturaCabecera

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FactFacturaCabecera</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdFacturaCabecera" class="control-label"></label>
                <input asp-for="IdFacturaCabecera" class="form-control" />
                <span asp-validation-for="IdFacturaCabecera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFactura" class="control-label"></label>
                <input asp-for="FechaFactura" class="form-control" />
                <span asp-validation-for="FechaFactura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subtotal" class="control-label"></label>
                <input asp-for="Subtotal" class="form-control" />
                <span asp-validation-for="Subtotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Iva" class="control-label"></label>
                <input asp-for="Iva" class="form-control" />
                <span asp-validation-for="Iva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroFactura" class="control-label"></label>
                <input asp-for="NumeroFactura" class="form-control" />
                <span asp-validation-for="NumeroFactura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentificacionCliente" class="control-label"></label>
                <input asp-for="IdentificacionCliente" class="form-control" />
                <span asp-validation-for="IdentificacionCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipo" class="control-label"></label>
                <input asp-for="IdTipo" class="form-control" />
                <span asp-validation-for="IdTipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
