@model ProyectoFacturacion.productos

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>productos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="pro_id" class="control-label"></label>
                <input asp-for="pro_id" class="form-control" />
                <span asp-validation-for="pro_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pro_nombre" class="control-label"></label>
                <input asp-for="pro_nombre" class="form-control" />
                <span asp-validation-for="pro_nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pro_descripcion" class="control-label"></label>
                <input asp-for="pro_descripcion" class="form-control" />
                <span asp-validation-for="pro_descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pro_valor_iva" class="control-label"></label>
                <input asp-for="pro_valor_iva" class="form-control" />
                <span asp-validation-for="pro_valor_iva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pro_costo" class="control-label"></label>
                <input asp-for="pro_costo" class="form-control" />
                <span asp-validation-for="pro_costo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pro_pvp" class="control-label"></label>
                <input asp-for="pro_pvp" class="form-control" />
                <span asp-validation-for="pro_pvp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pro_imagen" class="control-label"></label>
                <input asp-for="pro_imagen" class="form-control" />
                <span asp-validation-for="pro_imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cat_id" class="control-label"></label>
                <input asp-for="cat_id" class="form-control" />
                <span asp-validation-for="cat_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cat_nombre" class="control-label"></label>
                <input asp-for="cat_nombre" class="form-control" />
                <span asp-validation-for="cat_nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pro_stock" class="control-label"></label>
                <input asp-for="pro_stock" class="form-control" />
                <span asp-validation-for="pro_stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
